upstream {{app.id[1:]}} {
    least_conn;{% for task in tasks %}
    {% for port in task.ports %}server {{task.host}}:{{port}};{% endfor %}{% endfor %}
}

server {
    listen {{ app.container.docker.port_mappings[0].service_port }};
    location / {
        proxy_pass http://{{app.id[1:]}};
    }
}
