
upstream {{app_name}} {
    least_conn;{% for task in tasks %}
    {% for port in task.ports %}server {{task.host}}:{{port}};{% endfor %}{% endfor %}
}

server {
    listen 80;
    server_name {{app_name}}.{{domain}};
    location / {
        proxy_pass http://{{app_name}};
    }
}